*{
  font-family: Helvetica;
}

h1{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url('../images/pattern.jpeg');
}

.brushes h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

.paints h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}

.frames h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}

.price{
  font-weight: bold;
  color: blue;
}
